@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width:thin;
    scrollbar-color: #e8e8e821 #090E34;
  }


  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    background-color: aqua;
  }

  .step.finish {
    background-color: aqua;
  }


  /********** DropDown ***********/

  select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    font-weight:100;
    font-family: sans-serif;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: black;
    background-color: rgba(241, 241, 241, 0.674);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 2.9em;
    border-radius: .28em;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #d0d0d0;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #000000;
  }


  table {border-collapse:collapse; table-layout:fixed; width:310px;}
  table td {border:solid 1px #fab; width:100px; word-wrap:break-word;}
  
