@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width:thin;
    scrollbar-color: #e8e8e821 #090E34;
  }


  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    background-color: aqua;
  }

  .step.finish {
    background-color: aqua;
  }
